[Desktop Entry]
Type=Application
Version=1.0
Name=Translator
Icon=/usr/share/pyshared/Translator/images/icon.png
Exec=/usr/share/pyshared/Translator/Translator.py
Terminal=false
Categories=Utilities;
Encoding=UTF-8
